<h1>ミヤゴル</h1>
<h2>宮城で始める、初めてのゴルフ生活ガイド</h2>

<%= link_to "診断を始める", new_diagnosis_path, class: "link" %>

<%= link_to "宮城県内のゴルフ関連ショップを探す", map_index_path, class: "link" %>

<%= link_to "宮城県内ゴルフランキングはこちら", golf_courses_path, class: "link" %>