<h1>宮城県 ゴルフ関連マップ</h1>
<p>地図内のアイコンをクリックすると詳細が表示されます。左上のアイコンからカテゴリの表示・非表示を切り替えられます。</p>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fSqS6yiqF-YY0Yl9yWaw8No5aqimmhc&ehbc=2E312F" width="640" height="480"></iframe>